<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,
    initial-scale=1.0" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/style.css" />
  <title>Agriculture - Farming To It's Full Extent</title>

</head>


<body>
  <!-- Navigation Bar -->
  <nav class="navbar background h-nav-resp">
    <ul class="nav-list v-class-resp">
      <div class="logo"><img src="../img/img1.PNG" alt="logo" /></div>
      <li><a href="/">Home</a></li>
      <li><a href="https://agriculture-crops.herokuapp.com/#services">Services</a></li>
      <li><a href="https://agriculture-crops.herokuapp.com/#about">About</a></li>
      <li><a href="https://agriculture-crops.herokuapp.com/#contact">Contact us</a></li>
    </ul>
    <div class="rightNav v-class-resp">
      <input type="text" name="search" id="search" />
      <button class="btn btn-sm">Search</button>
    </div>
    <div class="burger">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>
  </nav>


  <!-- Welcome display -->
  <section class="background0">
    <h1 class="welcome">Welcome To The World of Agriculture and Rural Development</h1>
    <h1 class="welcome"><br><br>Scroll to see more</h1>
  </section>


  <!-- Crop production section -->
  <section class="background firstSection" id="production">
    <div class="box-main">
      <div class="firstHalf">
        <h1 class="text-big reveal">Crop Production</h1>
        <p class="text-small reveal">
          Crop production is a common agricultural practice followed by
          worldwide farmers to grow and produce crops to use as food and
          fibre. This practice includes all the feed sources that are
          required to maintain and produce crops. <br />
          Listed below are few practices used during crop production, click
          on them to know more.<br />
        <ul class="points reveal">
          <li>
            <a href="/preparation">Preparation of Soil.</a>
          </li>
          <li><a href="/sowing">Sowing of Seeds.</a></li>
          <li><a href="/irrigation">Irrigation.</a></li>
          <li><a href="/manure">Application of manure, pesticides, and fertilizers to the crops.</a></li>
          <li><a href="/protecting">Protecting and Harvesting Crops.</a></li>
          <li><a href="/storage">Storage and Preserving the produced Crops.</a></li>
        </ul>
        </p>
      </div>
      <div class="secondHalf">
        <img src="img/crop1.jpg" alt="Logo image" />
      </div>
    </div>
  </section>



  <!-- Crop protection section -->
  <section class="secondSection background1" id="protection">
    <div class="box1">
      <div class="secondHalf0">
        <img src="img/protectionlogo.jpg" alt="Logo image" />
      </div>
      <div class="firstHalf">
        <h1 class="text-big reveal">Crop Protection</h1>
        <p class="text-small reveal">
          Crop protection is the general method or the practice of protecting the crop yields from different agents
          including pests, weeds, plant diseases, and other organisms that cause damage to the agricultural
          crops.<br><br />
          Crop protection before and during the cultivation
        <ul class="points reveal">
          <li>
            <a href="/weedmanagement">Weed Management .</a>
          </li>
          <li><a href="/pest">Pests and Insects Management.</a></li>
          <li><a href="/plantdisease">Plant Disease Management.</a></li>
        </ul>
        </p>
        <p class="text-small reveal">
          <br>Crop protection after the cultivation
        <ul class="points reveal">
          <li>
            <a href="/threshing">Threshing.</a>
          </li>
          <li><a href="/winnowing">Winnowing.</a></li>
        </ul>
        </p>
      </div>
    </div>
  </section>


  <!-- Smart farming section -->
  <section class="thirdSection background2" id="smartfarming">
    <div class="box1">
      <div class="firstHalf">
        <h1 class="text-big reveal">Smart Farming</h1>
        <p class="text-small reveal">
          Smart Farming is an emerging concept that refers to managing farms using modern Information and Communication
          Technologies to increase the quantity and quality of products while optimizing the human labor
          required.<br><br />
          Features of Smart Farming
        <ul class="points reveal">
          <li>
            <a href="/data">Data collection.</a>
          </li>
          <li><a href="/production">Lower production Risk.</a></li>
          <li><a href="/cost">Cost management and waste reduction.</a></li>
          <li><a href="/automation">Process Automation.</a></li>
          <li><a href="/quality">Enchanced product quality and volumes</a></li>
        </ul>
        </p>
      </div>
      <div class="secondHalf0">
        <img src="img/smartlogo.jpg" alt="Logo image" />
      </div>
    </div>
  </section>

  <section class="services" id="services">
   
    <ul>
     <h1 class="head">Services Covered</h1>
     <div class="points5">
       <p><a href="#production">Crop Production</a></p>
       <p><a href="#protection">Crop Protection</a></p>
       <p><a href="#smartfarming">Smart Farming</a></p>
     </div>
     </ul>
   </section>

   <!-- About section -->
  <section class="about" id="about">
    <div class="musaib" id="musaib">
    <h1>Mohammed Musaib Ali</h1>
    <p>IV Sem, Poojya Dodappa Appa College of Engineering</p>
    <img src="img/musaib.jpg" alt="Logo image" />
    </div>

    <div class="rehaan" id="rehaan">
    <h1>Mohammed Rehaan</h1>
    <p>IV Sem, Poojya Dodappa Appa College of Engineering</p>
    <img src="img/rehaan.jpg" alt="Logo image" />
    </div>
  </section>

  <section class="contact" id="contact">
    <h2 class="text-center">Sign Up For More Updates</h2>
    <div class="form">
      <form action="https://agriculture-crops.herokuapp.com">
        <input class="form-input" type="name" name="name" id="name" placeholder="Enter Your Name" required>
        <input class="form-input" type="name" name="phone" id="phone" placeholder="Enter Your Phone Number" required>
        <input class="form-input" type="email" name="email" id="email" placeholder="Enter Your email" required>
        <button class="btn1 btn-dark">Sign Up</button>
      </form>

    </div>
  </section>

  <!-- Vanishing effect script -->
  <script type="text/javascript">
    window.addEventListener('scroll', reveal);
    function reveal() {
      var reveals = document.querySelectorAll('.reveal');
      for (var i = 0; i < reveals.length; i++) {
        var windowheight = window.innerHeight;
        var revealtop = reveals[i].getBoundingClientRect().top;
        var revealpoint = 150;

        if (revealtop < windowheight - revealpoint) {
          reveals[i].classList.add('active');
        }
        else {
          reveals[i].classList.remove('active');
        }
      }
    }
    burger = document.querySelector('.burger')
    navbar = document.querySelector('.navbar')
    rightNav = document.querySelector('.rightNav')
    navList = document.querySelector('.nav-list')

    burger.addEventListener('click', () => {
      rightNav.classList.toggle('v-class-resp');
      navList.classList.toggle('v-class-resp');
      navbar.classList.toggle('h-nav-resp');
    })
  </script>





</body>

</html>
