<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,
    initial-scale=1.0" />
    <link rel="stylesheet" href="points.css" />
    <title>Agriculture - Farming To It's Full Extent</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap"
      rel="stylesheet"
    />
</head>

<body>
    <nav class="navbar backgroundprotection h-nav-resp">
        <ul class="nav-list v-class-resp">
            <div class="logo"><img src="../img/img.PNG" alt="logo" /></div>
            <li><a href="/">Home</a></li>
            <li><a href="https://agriculture-crops.herokuapp.com/#services">Services</a></li>
            <li><a href="https://agriculture-crops.herokuapp.com/#about">About</a></li>
            <li><a href="https://agriculture-crops.herokuapp.com/#contact">Contact us</a></li>
        </ul>
        <div class="rightNav v-class-resp">
            <input type="text" name="search" id="search" />
            <button class="btn btn-sm">Search</button>
        </div>
        <div class="burger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
    </nav>

    <section class="backgroundprotection firstSection">
        <div class="box-main">
            <div class="firstHalf">
                <h1 class="text-big">Pests and Insects Management.</h1>
                <p class="text-small">
                    Pest and Insect Management is a strategy that focuses on long-term prevention of pests and Insects or their damage
                    through a combination of techniques such as biological control, habitat manipulation, modification
                    of cultural practices, and use of resistant varieties.
                </p>

                <div class="buttons">
                    <button class="nbtn2">
                      <a href="/weedmanagement"><<< Back</a>
                    </button>
                    <button class="nbtn">
                      <a href="/plantdisease">Next >>></a>
                    </button>
                  </div>

            </div>
            <div class="secondHalf">
                <img src="../img/pest.jpg" alt="Logo image" />

            </div>
        </div>

    </section>
    <script type="text/javascript">
        burger = document.querySelector(".burger");
        navbar = document.querySelector(".navbar");
        rightNav = document.querySelector(".rightNav");
        navList = document.querySelector(".nav-list");

        burger.addEventListener("click", () => {
            rightNav.classList.toggle("v-class-resp");
            navList.classList.toggle("v-class-resp");
            navbar.classList.toggle("h-nav-resp");
        });
    </script>
</body>

</html>