  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width,
    initial-scale=1.0"
    />
    <link rel="stylesheet" href="points.css" />
    <title>Agriculture - Farming To It's Full Extent</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <nav class="navbar background h-nav-resp">
      <ul class="nav-list v-class-resp">
        <div class="logo"><img src="../img/img1.PNG" alt="logo" /></div>
        <li><a href="/">Home</a></li>
        <li><a href="https://agriculture-crops.herokuapp.com/#services">Services</a></li>
        <li><a href="https://agriculture-crops.herokuapp.com/#about">About</a></li>
        <li><a href="https://agriculture-crops.herokuapp.com/#contact">Contact us</a></li>
      </ul>
      <div class="rightNav v-class-resp">
        <input type="text" name="search" id="search" />
        <button class="btn btn-sm">Search</button>
      </div>
      <div class="burger">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
      </div>
    </nav>

    <section class="background firstSection">
      <div class="box-main">
        <div class="firstHalf">
          <h1 class="text-big">Preparation Of Soil</h1>
          <p class="text-small">
            Soil is prepared before sowing the seeds. The soil is loosened to
            increase the absorption of water and manures. Loosening of soil
            particles adds humus and nutrients in the soil that increases crop
            yields. Tilling or loosening the soil is done by ploughs which are
            pulled by a pair of bulls. Tractor driven cultivators are also used
            to loosen the soil.
          </p>
          <div class="nextbutton">
            <button class="nbtn">
              <a href="/sowing">Next >>></a>
              <!-- Next >>> -->
            </button>
            <!-- changed -->
          </div>
        </div>
        <div class="secondHalf">
          <img src="../img/crop.jpg" alt="Logo image" />
        </div>
      </div>
    </section>
    <script type="text/javascript">
      burger = document.querySelector(".burger");
      navbar = document.querySelector(".navbar");
      rightNav = document.querySelector(".rightNav");
      navList = document.querySelector(".nav-list");

      burger.addEventListener("click", () => {
        rightNav.classList.toggle("v-class-resp");
        navList.classList.toggle("v-class-resp");
        navbar.classList.toggle("h-nav-resp");
      });
    </script>
  </body>
</html>
