<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,
    initial-scale=1.0" />
    <link rel="stylesheet" href="points.css" />
    <title>Agriculture - Farming To It's Full Extent</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap"
      rel="stylesheet"
    />
</head>

<body>
    <nav class="navbar background h-nav-resp">
        <ul class="nav-list v-class-resp">
            <div class="logo"><img src="../img/img1.PNG" alt="logo" /></div>
            <li><a href="/">Home</a></li>
            <li><a href="https://agriculture-crops.herokuapp.com/#services">Services</a></li>
            <li><a href="https://agriculture-crops.herokuapp.com/#about">About</a></li>
            <li><a href="https://agriculture-crops.herokuapp.com/#contact">Contact us</a></li>
        </ul>
        <div class="rightNav v-class-resp">
            <input type="text" name="search" id="search" />
            <button class="btn btn-sm">Search</button>
        </div>
        <div class="burger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
    </nav>

    <section class="background firstSection">
        <div class="box-main">
            <div class="firstHalf">
                <h1 class="text-big">Storage and Preservation</h1>
                <p class="text-small">
                    The crops have to be stored at the recommended level of moisture, which varies for different types
                    of grains. Excess moisture in the crops promotes the growth of micro-organisms and can rot the crops
                    and cause huge losses. Moisture may also germinate the stored seeds, which has to be avoided.
                    <br>Preservation can be defined as, the process of keeping crops safe from spoilage (by
                    maintaining the quality) until they are consumed or sold

                </p>
                <div class="buttons">
                    <button class="nbtn2">
                      <a href="/protecting"><<< Back</a>
                    </button>
                    <button class="nbtn1">
                      <a href="/irrigation">Next >>></a>
                    </button>
                  </div>
            </div>
            <div class="secondHalf">
                <img src="../img/storage.jpg" alt="Logo image" />
            </div>
        </div>
    </section>
    <script type="text/javascript">
        burger = document.querySelector(".burger");
        navbar = document.querySelector(".navbar");
        rightNav = document.querySelector(".rightNav");
        navList = document.querySelector(".nav-list");

        burger.addEventListener("click", () => {
            rightNav.classList.toggle("v-class-resp");
            navList.classList.toggle("v-class-resp");
            navbar.classList.toggle("h-nav-resp");
        });
    </script>
</body>

</html>